
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg,rgb(111, 6, 223),rgb(255, 255, 255));
    padding: 30px 20px; 
}


.auth-box {
    background: #ffffff;
    padding: 40px 35px; 
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 380px;
    transition: 0.3s;
}

.auth-box:hover {
    transform: scale(1.02);
}

/* Heading */
.auth-box h2 {
    margin-bottom: 25px; 
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

/* Input Fields */
.input-field {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.input-field:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.2);
}

/* Buttons */
.auth-button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.auth-button:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}


.toggle-link {
    margin-top: 15px; 
    color: #6a11cb;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-link:hover {
    text-decoration: underline;
    color: #2575fc;
}


@media (max-width: 450px) {
    .auth-box {
        width: 90%;
        padding: 35px 25px;
    }
    .input-field {
        font-size: 15px;
    }
    .auth-button {
        font-size: 15px;
        padding: 12px;
    }
}
